<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>h</key>
	<dict>
		<key>成交股票数</key>
		<integer>12</integer>
		<key>成交金额</key>
		<integer>11</integer>
		<key>当前价格</key>
		<integer>6</integer>
		<key>今日开盘价</key>
		<integer>2</integer>
		<key>昨日收盘价</key>
		<integer>3</integer>
		<key>今日最低价</key>
		<integer>5</integer>
		<key>今日最高价</key>
		<integer>4</integer>
		<key>股票名字</key>
		<integer>1</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>成交股票数</key>
		<integer>10</integer>
		<key>今日最高价</key>
		<integer>6</integer>
		<key>今日最低价</key>
		<integer>7</integer>
		<key>昨日收盘价</key>
		<integer>26</integer>
		<key>今日开盘价</key>
		<integer>5</integer>
		<key>当前价格</key>
		<integer>1</integer>
		<key>股票名字</key>
		<integer>0</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>时间</key>
		<integer>31</integer>
		<key>日期</key>
		<integer>30</integer>
		<key>卖五报价</key>
		<integer>29</integer>
		<key>卖五股数</key>
		<integer>28</integer>
		<key>卖四报价</key>
		<integer>27</integer>
		<key>卖四股数</key>
		<integer>26</integer>
		<key>卖三报价</key>
		<integer>25</integer>
		<key>卖三股数</key>
		<integer>24</integer>
		<key>卖二报价</key>
		<integer>23</integer>
		<key>卖二股数</key>
		<integer>22</integer>
		<key>卖一报价</key>
		<integer>21</integer>
		<key>卖一股数</key>
		<integer>20</integer>
		<key>买五报价</key>
		<integer>19</integer>
		<key>买五股数</key>
		<integer>18</integer>
		<key>买四报价</key>
		<integer>17</integer>
		<key>买四股数</key>
		<integer>16</integer>
		<key>买三报价</key>
		<integer>15</integer>
		<key>买三股数</key>
		<integer>14</integer>
		<key>买二报价</key>
		<integer>13</integer>
		<key>买二股数</key>
		<integer>12</integer>
		<key>买一报价</key>
		<integer>11</integer>
		<key>买一股数</key>
		<integer>10</integer>
		<key>成交金额</key>
		<integer>9</integer>
		<key>成交股票数</key>
		<integer>8</integer>
		<key>竞卖价</key>
		<integer>7</integer>
		<key>竞买价</key>
		<integer>6</integer>
		<key>今日最低价</key>
		<integer>5</integer>
		<key>今日最高价</key>
		<integer>4</integer>
		<key>当前价格</key>
		<integer>3</integer>
		<key>昨日收盘价</key>
		<integer>2</integer>
		<key>今日开盘价</key>
		<integer>1</integer>
		<key>股票名字</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
